<div class="author">
  <div class="author--media">
    {{!--<nav class="fabs">--}}
    {{!--  <a class="fab large ripple twitter" href="#!">--}}
    {{!--    <i class="mdi mdi-twitter"></i>--}}
    {{!--  </a>--}}
    {{!--  <a class="fab large ripple github" href="#!">--}}
    {{!--    <i class="mdi mdi-github-circle"></i>--}}
    {{!--  </a>--}}
    {{!--  <a class="fab large ripple google-plus" href="#!">--}}
    {{!--    <i class="mdi mdi-google-plus"></i>--}}
    {{!--  </a>--}}
    {{!--</nav>--}}
    {{#if image}}
      <img class="image" src="{{image}}" />
    {{else}}
      <img class="image" src="{{@blog.url}}/shared/img/user-image.png" />
    {{/if}}
  </div>
  <div class="author--info">
    <h5 class="name">{{name}}</h5>
    <p class="bio">{{bio}}</p>
  </div>
</div>
