<div class="card image">
  <header class="card--header bg-darken">
    <!-- Title -->
    <h5 class="card--title" itemprop="headline">{{title}}</h5>
    <span class="card--subtitle">
      <i class="fa fa-calendar-o"></i>
      <time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">
        {{date format='DD MMM YYYY'}}
      </time>
    </span>
    <!-- Image -->
    {{#if image}}
      <img class="bg-image" src="{{image}}" />
    {{else}}
      <div class="bg-image no-image"></div>
    {{/if}}
  </header>
  <div class="card--back">
    <p>{{excerpt words="40"}}&hellip;</p>
    <a class="button solid shaded ripple right" href="{{url}}">Aller a</a>
  </div>
</div>
